/* CSS */
.popup-container {
    background-color: rgba(0, 0, 0, 0.5); /* ใช้ alpha transparency เพื่อทำให้เงามืดลง */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff; /* สีพื้นหลังของ pop-up */
    border-radius: 8px; /* ความมนเรียวของกรอบ */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เงาขอบกรอบ */
    padding: 20px;
    max-width: 80%; /* ขนาดสูงสุดของ pop-up */
    max-height: 80%;
    overflow: auto; /* แสดงแถบสกอลเมื่อเนื้อหาเกินขนาดของ pop-up */
  }
  
  .popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff; /* สีไอคอนปิด */
    background-color: #000; /* สีพื้นหลังของไอคอนปิด */
    border: none;
    border-radius: 50%; /* ทำให้เป็นรูปวงกลม */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  